{{ define "title" }}<title>Contact - Alexander Held</title>{{ end }}

{{ define "content" }}
<h1>Contact Information</h1>
<div class="grid">
  <div class="cell -6of12">
    <h3>Email</h3>
    <p>contact@alexheld.io</p>

    <p>My GPG fingerprint is <code>3B71 C0ED 041B 0D97 FB18  38B0 C7D3 910E 8C32 6896</code>. If you get an email that appears to be from me and the signature does not match that fingerprint, it is not from me. You may download a copy of my public key <a href="/static/gpg.pub">here</a>.</p>

    <h3>Social Media</h3>
    <ul>
      <li><a href="https://github.com/alex-held">Github</a></li>
      <li><a href="https://twitter.com/0_alexheld">Twitter</a></li>
      <li><a href="https://keybase.io/alexheld">Keybase</a></li>
      <li><a href="https://ko-fi.com/alexheld">Ko-fi</a></li>

    </ul>
  </div>
  <div class="cell -6of12">
    <h3>Other Information</h3>
    <!-- <p>I have a <a href="https://www.patreon.com/cadey">Patreon</a> if you want to send donations, otherwise my <a href="https://ko-fi.com/A265JE0">Ko-Fi</a> works too.</p> -->

    <h4>Telegram</h4>
    <p><a href="https://t.me/alexheld">@alexheld</a></p>

    <h4>Discord</h4>
    <p><code>Cadey~#1337</code></p>
  </div>
</div>
{{ end }}
